body{
	background: #f2edf3;
	min-width: 1000px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
/*.table{
	border: 1px solid #ddd;
}*/
.action a{
	width: 40px ;
	padding:10px 5px 10px 5px;
}
.list_table{
	min-width: 1000px !important;
	width: 100%;
}
/**/